.user-info {
    position: absolute;
    top: 0.5vw;
    right: 0.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1vw;
}

.user-login {
    font-size: 1vw;
    font-weight: 100;
}

.user-sign-out {
    width: 5vw;
    font-size: 1vw;
    font-weight: 100;
    background-color: var(--color-primary-dark-blue);
    color: white;
    height: 2.5vw;
}